html {
  border-top: 5px solid #27a822;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  max-width: 40em;
  line-height: 1.25em;
  font-size: 14pt;
  line-height: 16pt;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-top: 2em;
  line-height: 38px;
  font-size: 16pt;
}

.post-title {
  margin-bottom: 10px;
}

/* nav ul
{
    list-style-type: none;
    text-align: right;
} */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111111;
}


.posts ul li, .posts ol li {
  padding-left: 0.7em;
  border-left: 4px solid #27a822;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  list-style: none;
}

/* TABLE STYLING */
td, th {
  border-bottom: 0.1rem solid #e1e1e1;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 225, 225);
  padding: 1.2rem 1.5rem;
}