/* Base Styles */
html {
  border-top: 5px solid #27a822;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 40em;
  font-size: 14pt;
  line-height: 1.6;
  /* Improved line height for readability */
  text-rendering: optimizeLegibility;
}

/* Post Title */
.post-title {
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 14pt;
}

/* Navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111111;
}

/* List Styles in Posts */
.posts ul,
.posts ol {
  font-size: 12pt;
  /* Normal font size for lists */
}

.posts ul li,
.posts ol li {
  padding-left: 0.7em;
  border-left: 4px solid #27a822;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  list-style: none;
  /* Normal bullets or numbers */
}

/* Table Styling */
td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
}

/* Headings within Post Body */
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  line-height: 1.3;
  color: #1a1a1a;
  /* Darker shade for emphasis */
}

.post-body h1 {
  font-size: 2em;
}

/* Smaller sizes for headings */
.post-body h2 {
  font-size: 1.75em;
}

.post-body h3 {
  font-size: 1.5em;
}

.post-body h4 {
  font-size: 1.25em;
}

.post-body h5 {
  font-size: 1.1em;
}

.post-body h6 {
  font-size: 1em;
}

/* Image Styling */
img {
  max-width: 100%;
  height: auto;
}